# compiled output
/dist
/node_modules

# env
.env
.env.*.local

# logs
npm-debug.log
yarn-error.log

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store

# tests
/coverage
/.nyc_output

# uploads
/uploads
